
<form action="/gamestats" method="post">

    <h1>Betting splits by game</h1>
    <div class="form-group">
        <label for="gameid">Please insert game id</label><br>
        <input type="text" id="gameid" name="gameid" required><br>
    </div>
    <div class="d-grid">
        <button class="btn btn-primary mt-3" type="submit">Submit</button>
    </div>





</form>
