
<form action="/teamtrends" method="post">

    <h1>Team Trends</h1>
    <div class="form-group">
        <label for="team">Please insert team</label><br>
        <input type="text" id="team" name="team" required><br>
    </div>
    <div class="d-grid">
        <button class="btn btn-primary mt-3" type="submit">Submit</button>
    </div>





</form>

