<h1>Betting Trends - by Matchup</h1>

<form action="/BoxScores" method="POST">

    

    <label for="team">Team</label><br>
    <input type="text" id="team" name="team" required ><br>

    <label for="opponent">Opponent</label><br>
    <input type="text" id="opponent" name="opponent"><br>
 <br>

    <button type="submit">Submit</button>
</form>
