<div class = "home-container">
    <div id="home-vertical-center">
        <img src="../../resources/img/Sport-Hub.png" alt="SportHub" style="">
        <h2>Everything sports related, for sports enthusiasts!</h2>
    </div>
</div>