<main class="content2">
    <div class="container mt-3">
        <div class="row align-items-center">
            <div class="col-auto">
                <img class="rounded mr-2" src="../../resources/img/Sport-Hub.png" alt="Sportshub Logo"
                    style="height: 50px;">
            </div>
            <div class="col">
                <h1 class="mb-0">Stock info</h1>
            </div>
        </div>
    </div>


    {{>carousel}}

{{>stockreq}}



</main>



<style>
    main.content2 {
        min-height: 400vh;
        /* Adjust this value as needed */
    }
</style>